body {
    color: #333;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

header {
    padding: 6rem;
    background-image: url('../assets/images/code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.main {
    width: 60%;
    margin: auto;
}

nav {
    background-color: #666;
}

nav ul {
    margin-block-start: 0rem;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    width:25%;
}

.about-me .projects{
    float: left;
    width: 33%;
}


.contact {
    float: right;
    width: 33%;
}

footer {
    padding: 20px 0;
    text-align: center;
    background-color: #333;
    text-decoration: none;
    color: white;
}

