/* INIT */
@import url("https://fonts.googleapis.com/css?family=Michroma|Raleway|Syncopate:400,700&display=swap");

:root {
  font-size: 16px;
}

/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #253237;
}

body {
  background: url("../images/code-edited.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

/* HEADER */
nav {
  margin-bottom: 2rem;
}

nav,
.sidenav {
  background-color: #9db4c0;
}

nav li a {
  color: #253237;
}

nav .brand-logo {
  color: #253237;
}

.fa-bars {
  color: #253237;
}

.margin-left {
  margin-left: 2rem;
}

.nav-wrapper a span {
  font-size: 1rem;
}

.sidenav li {
  padding: 1rem;
  margin-top: 1rem;
}

.sidenav li a {
  font-size: 2rem;
}

/* LOGO ANIMATION */
/* https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
@keyframes revealLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealLeft {
  animation: 1.5s ease-out 0s 1 revealLeft;
}
@keyframes revealTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealTop {
  animation: 1.5s ease-out 0s 1 revealTop;
}

/* MAIN */
#profile,
#portfolio,
#connect {
  margin-top: 10rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.background {
  background-color: #5c6b73;
  padding: 3rem;
}

.title {
  position: relative;
  top: 20px;
}

.title h3 {
  font-weight: 700;
  background-color: #9db4c0;
  padding: 1rem;
  width: 20rem;
  border-radius: 0 5px 5px 0;
  margin-bottom: 0;
}

/* PROFILE */
.headshot {
  border: solid 2px #e0fbfc;
}

.profile-title h5 {
  text-align: right;
  padding-right: 1rem;
  margin-right: .5rem;
  color: #e0fbfc;
  border-right: solid 2px #e0fbfc;
}

.profile-detail h5 {
  text-align: left;
}

.profile-title, .profile-detail {
  display: inline-block;
}

.profile-body {
  font-size: 1.5em;
  color: #e0fbfc;
}

.tech-card {
  background-color: white;
  border-radius: 5px;
  width: 125px;
  height: 150px;
  padding-top: 1rem;
  margin: 1rem;
  margin-right: 0;
  vertical-align: middle;
}

.center-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto; 
}

.tech-title {
  color: #e0fbfc;

}

.fa-html5 {
  color: #F16529;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-js {
  color: #F0db4f;
}

.fa-node-js {
  color: #68a063;
}

/* PORTFOLIO */
.card-title {
  color: #253237;
}

.card-content,
card .card-reveal {
  background-color: #e0fbfc;
}

.project-link {
  background-color: #5c6b73;
}

.project-link a {
  color: #e0fbfc;
}

.project-link:hover,
.project-link:active {
  background-color: #5c6b7380;
}

/* CONNECT */
.social-link a {
  color: #e0fbfc;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.social-link div {
  font-size: 2rem;
}

.social-link a i {
  font-size: 5rem;
}

.social-link a:hover {
  color: rgba(224,251,252,0.80);
}

.social-link {
  margin-top: 2rem;
}

/* FOOTER */
footer {
  background-color: #9db4c0;
}

/* HOVER.CSS - https://ianlunn.github.io/Hover/ */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
/* FLOAT */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .background {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #profile,
  #portfolio,
  #connect {
    margin-top: 5rem;
  }
 .title h3 {
    width: 10rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .profile-title h5, .profile-detail h5 {
    font-size: 1rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
  }
  .profile-body {
    font-size: .9rem;
    padding: .75rem;
  }
  .tech-title {
    font-size: 1.5rem;
  }
}
