/* INIT */
@import url("https://fonts.googleapis.com/css?family=Michroma|Raleway|Syncopate:400,700&display=swap");

:root {
  font-size: 1rem;
}

/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #253237;
}

body {
  background: url("../images/code-edited.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

/* HEADER */
nav,
.sidenav {
  background-color: #9db4c0;
}

nav li a {
  color: #253237;
}

nav .brand-logo {
  color: #253237;
}

.margin-left {
  margin-left: 2rem;
}

.nav-wrapper a span {
  font-size: 1rem;
}

.sidenav li {
  padding: 1rem;
  margin-top: 1rem;
}

.sidenav li a {
  font-size: 2rem;
}

/* MAIN */
#profile,
#portfolio,
#connect {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.background {
  background-color: #5c6b73;
  padding: 3rem;
}

.title {
  position: relative;
  top: 20px;
}

h3 {
  font-weight: 700;
  background-color: #9db4c0;
  padding: 1rem;
  width: 20rem;
  border-radius: 0 5px 5px 0;
  margin-bottom: 0;
}

/* CAROUSEL */
.carousel {
  margin-top: 1rem;
}

/* PROFILE */
.headshot {
  border: solid 2px #e0fbfc;
}

h4 {
  display: inline;
  padding-right: 1rem;
  margin-right: 1rem;
  color: #e0fbfc;
  border-right: solid 2px #e0fbfc;
}

.profile-text span {
  display: inline;
  font-size: 1.5rem;
  color: #9db4c0;
}

/* PORTFOLIO */
.card-title {
  color: #253237;
}

.card-content,
card .card-reveal {
  background-color: #e0fbfc;
}

.project-link {
  background-color: #5c6b73;
}

.project-link a {
  color: #e0fbfc;
}

.project-link:hover,
.project-link:active {
  background-color: #5c6b7380;
}

/* CONNECT */
i,
.social-link div {
  color: #e0fbfc;
  font-size: 2rem;
}

.social-link {
  margin-top: 2rem;
}

/* FOOTER */
footer {
  background-color: #9db4c0;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .background {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h3 {
    width: 10rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  h4 {
    font-size: 1rem;
    padding-right: .5rem;
    margin-right: .5rem;
  }
  .profile-text span {
    font-size: 0.75rem;
  }
}
